<!DOCTYPE html>
<html>
<head>
    <title>Faculty Account Creation Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background:linear-gradient(to left,lightgreen,lightblue);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        form {
            background-color: white;
            height: 450px;
            width: 400px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        input[type="email"], input[type="password"], input[type="text"]{
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }
        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
<center>
<h2>CREATE FACULTY ACCOUNT</h2>
<form action="/admin/create-faculty" method="post">
    <img src="https://s3-ap-south-1.amazonaws.com/ricedigitals3bucket/AUPortalContent/2019/09/16052635/au-footer-logo.png" alt="Logo" width="100" height="100">
    <label for="faculty-name">Name:</label>
    <input type="text" id="faculty-name" name="name" required />
    <br />
    <label for="faculty-email">Email:</label>
    <input type="email" id="faculty-email" name="email" required />
    <br />
    <label for="faculty-department">Department:</label>
    <select id="faculty-department" name="department" required>
        <option>Select a department</option>
        <option>Department of Computer Science Engineering</option>
        <option>Department of Artificial Intelligence and Machine Learning</option>
        <option>Department of Commerce and Business Studies</option>
        <option>Department of Mechanical Engineering</option>
    </select>
    <label for="faculty-password">Password:</label>
    <input type="password" id="faculty-password" name="password" required />
    <br />
    <button type="submit">Create Account</button>
</form>
</center>
</body>
</html>