<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Return</title>
    <style>
        body {
            background: linear-gradient(to left, lightgreen, lightblue);
        }
    </style>
</head>
<body>
<center>
    <p><h1>LOGIN FAILED!</h1></p>
    <a href="/faculty">GO BACK TO LOGIN PAGE</a>
</center>
</body>
</html>